// Define common styles for toggler buttons
.toggler-common {
  color: grey;
  box-shadow: none;
  transition: color 0.3s, background-color 0.3s;

  &.active {
    color: #000;
    background-color: #cccccc;
  }
}

.view-toggle {
  display: flex;
  flex-direction: row-reverse;
  .list-button,
  .grid-button {
    @extend .toggler-common;
  }

  :first-child {
    order: 1;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: grey;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s, box-shadow 0.3s;
  }
}
