<div class="videoDetailsWrapper ml-5" *ngIf="video && video.url">
  <!-- Video Player -->
  <app-header>
    <button
      class="header-slot btn btn-link btn-link-primary text-sm"
      (click)="goToVideoList()"
    >
      <i class="bi bi-arrow-left"></i>
      Back
    </button>
  </app-header>

  <div class="container d-flex flex-row gap-1 pt-2 pb-2">
    <input
      #title
      style="max-width: 530px"
      class="form-control"
      type="text"
      [value]="video.title"
      [title]="video.title"
      [contentEditable]="true"
    />
    <input
      type="button"
      (click)="saveTitle(title.value)"
      class="btn btn-primary btn-md active"
      value="Save"
    />
  </div>
  <div class="container d-flex flex-row gap-1 pb-2">
    <video
      [poster]="video.previewUrl"
      *ngIf="video?.url !== null"
      controls
      width="600"
      height="400"
      #videoPlayer
    >
      <source [src]="video.url" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Reaction Buttons -->
  <div class="container d-flex flex-row gap-1 pb-1" style="left: 4.5rem">
    <button class="btn btn-light btn-3d" (click)="addReaction('Snapshot')">
      <i class="bi bi-camera"></i>
      Snapshot
    </button>
    <button class="btn btn-light btn-3d" (click)="addReaction('Star')">
      <i class="bi bi-star-fill"></i>
      Star
    </button>
  </div>

  <!-- Reactions List -->
  <div class="reactions-container">
    <h4>Reactions</h4>
    <div class="reactions-list">
      <ng-container *ngIf="reactions && reactions.length > 0; else noReactions">
        <video-reaction
          *ngFor="let reaction of reactions"
          [reaction]="reaction"
          [goToReactionTimestamp]="goToReactionTimestamp.bind(this)"
        ></video-reaction>
      </ng-container>
      <ng-template #noReactions>
        <label>No Reactions Found</label>
      </ng-template>
    </div>
  </div>
</div>
